In [25]:
import pandas as pd

In [26]:
def data_prep(year,month,df):
    df.drop(['road_type','transfer_type','transition_date'],axis=1,inplace=True)
    # if month==1:
    #     df.drop('_id',axis=1,inplace=True)
    df.dropna(inplace=True)
    a = df.groupby(['line', 'transport_type_id'])['number_of_passenger'].sum()
    b = df.groupby(['line', 'transport_type_id'])['transition_hour'].mean()
    c = df.groupby(['line', 'transport_type_id'])['number_of_passage'].sum()

    # Her bir gruplama sonucunu DataFramelere dönüştürün ve sütun isimlerini belirtelim
    a = a.reset_index()
    a.columns = ['line', 'transport_type_id', 'number_of_passenger']

    b = b.reset_index()
    b.columns = ['line', 'transport_type_id', 'transition_hour']

    c = c.reset_index()
    c.columns = ['line', 'transport_type_id', 'number_of_passage']

    # Her bir DataFrame'i birleştirelim
    mix_df = pd.concat([a, b['transition_hour'], c['number_of_passage']], axis=1)
    
    mix_df['year'] = year
    mix_df['month'] = month
    
    sira = ['line', 'month', 'year','transport_type_id', 'transition_hour', 'number_of_passage', 'number_of_passenger']
    sira = list(dict.fromkeys(sira))  # Sira listesindeki yinelenen sütunların gelmesinden korunalım
    mix_df = mix_df[sira]
    return mix_df

In [27]:
ocak = pd.read_csv('Ocak_2022.csv')
ocak_df = data_prep(2022,1,ocak)

In [28]:
subat = pd.read_csv('Subat_2022.csv')
subat_df = data_prep(2022,2,subat)

In [29]:
mart = pd.read_csv('Mart_2022.csv')
mart_df = data_prep(2022,3,mart)

In [30]:
nisan = pd.read_csv('Nisan_2022.csv')
nisan_df = data_prep(2022,4,nisan)

In [31]:
mayis = pd.read_csv('Mayis_2022.csv')
mayis_df = data_prep(2022,5,mayis)

In [32]:
haziran = pd.read_csv('Haziran_2022.csv')
haziran_df = data_prep(2022,6,haziran)

In [33]:
temmuz = pd.read_csv('Temmuz_2022.csv')
temmuz_df = data_prep(2022,7,temmuz)

In [34]:
agustos = pd.read_csv('Agustos_2022.csv')
agustos_df = data_prep(2022,8,agustos)

In [35]:
eylul = pd.read_csv('Eylul_2022.csv')
eylul_df = data_prep(2022,9,eylul)

In [36]:
ekim = pd.read_csv('Ekim_2022.csv')
ekim_df = data_prep(2022,10,ekim)

In [37]:
kasim = pd.read_csv('Kasim_2022.csv')
kasim_df = data_prep(2022,11,kasim)

In [38]:
aralik = pd.read_csv('Aralik_2022.csv')
aralik_df = data_prep(2022,12,aralik)

In [39]:
mix_df = pd.concat([ocak_df,mart_df,nisan_df,mayis_df,haziran_df,temmuz_df,agustos_df,eylul_df,ekim_df,kasim_df,aralik_df], ignore_index=True)

In [40]:
mix_df.to_csv('2022.csv', index=False)

In [41]:
mix_df.head()

,line,month,year,transport_type_id,transition_hour,number_of_passage,number_of_passenger
0,EMINONU-OKMEYDANI,1,2022,1,13.931202,58011,57783
1,KARTAL-AYDOS HILAL KONUTLARI,1,2022,1,13.910646,68634,68275
2,A.YESEVI MAH-UMRANIYE,1,2022,1,13.293970,25551,25514
3,ACARLAR SITESI / ATASEHIR - USKUDAR,1,2022,1,13.553996,25734,25704
4,ADA TAKSI,1,2022,1,13.213115,16608,16393

In [49]:
a2022 = pd.read_csv("2022.csv")
a2021 = pd.read_csv("2021.csv")

In [50]:
mix_df = pd.concat([a2021, a2022], ignore_index=True)
mix_df['intensity'] = mix_df['number_of_passenger']/mix_df['number_of_passage']

In [51]:
mix_df.to_csv('data.csv', index=False)

In [70]:
mix_df = mix_df[mix_df['number_of_passage'] >= 100]